lib/metanorma/validate/mathml4-strict-content.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  MathML 4 (Strict Content)
  #########################
-->
<!--
      Copyright 1998-2026 W3C (MIT, ERCIM, Keio, Beihang)
  
      Use and distribution of this code are permitted under the terms
      W3C Software Notice and License
      http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231
-->
<grammar ns="http://www.w3.org/1998/Math/MathML" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start combine="choice">
    <ref name="math.strict"/>
  </start>
  <define name="CommonAtt">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xref"/>
    </optional>
  </define>
  <define name="math.strict">
    <element name="math">
      <ref name="math.attributes"/>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <!--
    METANORMA MODIFICATION (basicdoc-models#39): upstream combines CommonAtt
    (id, xref) into math.attributes here; in the full-MathML composition the
    math element already carries `id` via MathMLPGlobalAttributes
    (mathml4-core.rnc) and `xref` via the presentation augmentation
    (mathml4-presentation.rnc), so RELAX NG's duplicate-attribute restriction
    rejects the composed grammar (jing: 'duplicate attribute "id"').
    Upstream text was:
      math.attributes &= CommonAtt
  -->
  <define name="ContExp">
    <choice>
      <ref name="semantics-contexp"/>
      <ref name="cn"/>
      <ref name="ci"/>
      <ref name="csymbol"/>
      <ref name="apply"/>
      <ref name="bind"/>
      <ref name="share"/>
      <ref name="cerror"/>
      <ref name="cbytes"/>
      <ref name="cs"/>
    </choice>
  </define>
  <define name="cn">
    <element name="cn">
      <ref name="cn.attributes"/>
      <ref name="cn.content"/>
    </element>
  </define>
  <define name="cn.content">
    <text/>
  </define>
  <define name="cn.attributes">
    <ref name="CommonAtt"/>
    <attribute name="type">
      <choice>
        <value>integer</value>
        <value>real</value>
        <value>double</value>
        <value>hexdouble</value>
      </choice>
    </attribute>
  </define>
  <define name="semantics-ci">
    <element name="semantics">
      <ref name="CommonAtt"/>
      <choice>
        <ref name="ci"/>
        <ref name="semantics-ci"/>
      </choice>
      <zeroOrMore>
        <choice>
          <ref name="annotation"/>
          <ref name="annotation-xml"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="semantics-contexp">
    <element name="semantics">
      <ref name="CommonAtt"/>
      <ref name="MathExpression"/>
      <zeroOrMore>
        <choice>
          <ref name="annotation"/>
          <ref name="annotation-xml"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="annotation" combine="choice">
    <element name="annotation">
      <ref name="CommonAtt"/>
      <text/>
    </element>
  </define>
  <!--
    METANORMA MODIFICATION (basicdoc-models#39): upstream re-opens
    `anyElement` and `annotation-xml` here with combine=choice (|=). RELAX NG
    permits only one combine method per name, which blocks the metanorma
    wrapper's `&= notAllowed` bans (metanorma-mathml.rnc) of these foreign
    markup escape hatches. The re-opens are dropped: the base definitions in
    mathml4-core.rnc remain, and the wrapper forbids them outright anyway.
    Upstream text was:
      anyElement |=  element (* - m:*) {(attribute * {text}|text| anyElement)*}
      annotation-xml |= element annotation-xml {annotation-xml.attributes,
                                               (MathExpression*|anyElement*)}
  -->
  <define name="annotation-xml.attributes" combine="interleave">
    <ref name="CommonAtt"/>
    <optional>
      <ref name="cd"/>
    </optional>
    <optional>
      <ref name="encoding"/>
    </optional>
  </define>
  <!--
    METANORMA MODIFICATION (basicdoc-models#39): upstream combines a second
    `attribute encoding` into the `encoding` define (already defined in
    mathml4-core.rnc); the interleave yields the same attribute twice wherever
    the define is used, which RELAX NG forbids (jing: 'duplicate attribute
    "encoding"').
    Upstream text was:
      encoding &= attribute encoding {xsd:string}
  -->
  <define name="ci">
    <element name="ci">
      <ref name="ci.attributes"/>
      <ref name="ci.content"/>
    </element>
  </define>
  <define name="ci.attributes">
    <ref name="CommonAtt"/>
    <optional>
      <ref name="ci.type"/>
    </optional>
  </define>
  <define name="ci.type">
    <attribute name="type">
      <choice>
        <value>integer</value>
        <value>rational</value>
        <value>real</value>
        <value>complex</value>
        <value>complex-polar</value>
        <value>complex-cartesian</value>
        <value>constant</value>
        <value>function</value>
        <value>vector</value>
        <value>list</value>
        <value>set</value>
        <value>matrix</value>
      </choice>
    </attribute>
  </define>
  <define name="ci.content">
    <text/>
  </define>
  <define name="csymbol">
    <element name="csymbol">
      <ref name="csymbol.attributes"/>
      <ref name="csymbol.content"/>
    </element>
  </define>
  <define name="SymbolName">
    <data type="NCName"/>
  </define>
  <define name="csymbol.attributes">
    <ref name="CommonAtt"/>
    <ref name="cd"/>
  </define>
  <define name="csymbol.content">
    <ref name="SymbolName"/>
  </define>
  <define name="cd">
    <attribute name="cd">
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="name">
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="src">
    <optional>
      <attribute name="src">
        <data type="anyURI"/>
      </attribute>
    </optional>
  </define>
  <define name="BvarQ">
    <zeroOrMore>
      <ref name="bvar"/>
    </zeroOrMore>
  </define>
  <define name="bvar">
    <element name="bvar">
      <ref name="CommonAtt"/>
      <choice>
        <ref name="ci"/>
        <ref name="semantics-ci"/>
      </choice>
    </element>
  </define>
  <define name="apply">
    <element name="apply">
      <ref name="CommonAtt"/>
      <ref name="apply.content"/>
    </element>
  </define>
  <define name="apply.content">
    <oneOrMore>
      <ref name="ContExp"/>
    </oneOrMore>
  </define>
  <define name="bind">
    <element name="bind">
      <ref name="CommonAtt"/>
      <ref name="bind.content"/>
    </element>
  </define>
  <define name="bind.content">
    <ref name="ContExp"/>
    <zeroOrMore>
      <ref name="bvar"/>
    </zeroOrMore>
    <ref name="ContExp"/>
  </define>
  <define name="share">
    <element name="share">
      <ref name="CommonAtt"/>
      <ref name="src"/>
      <empty/>
    </element>
  </define>
  <define name="cerror">
    <element name="cerror">
      <ref name="cerror.attributes"/>
      <ref name="csymbol"/>
      <zeroOrMore>
        <ref name="ContExp"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="cerror.attributes">
    <ref name="CommonAtt"/>
  </define>
  <define name="cbytes">
    <element name="cbytes">
      <ref name="cbytes.attributes"/>
      <ref name="base64"/>
    </element>
  </define>
  <define name="cbytes.attributes">
    <ref name="CommonAtt"/>
  </define>
  <define name="base64">
    <data type="base64Binary"/>
  </define>
  <define name="cs">
    <element name="cs">
      <ref name="cs.attributes"/>
      <text/>
    </element>
  </define>
  <define name="cs.attributes">
    <ref name="CommonAtt"/>
  </define>
  <define name="MathExpression" combine="choice">
    <ref name="ContExp"/>
  </define>
</grammar>
